*{
  box-sizing: border-box;
}
body {
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
  .wrapper{
    margin-left: 210px;
    height: 1340px;
    width: 1020px;
    background-color:#f5f5f5;
    padding: 40px 0 40px;
  }
    .mypage-wrapper {
      background-color:  #f5f5f5;
      float: right;
    }
      .my-page-right-content{
        background-color: white;
        width:700px;
        color: black;

        &__top{
          width: 100%;
          padding: 35px 0;
          background-image: url(https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?22406409);
          background-size: cover;
          &__content{
            width:300px;
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            .username{
              margin: 8px 0 8px;
            }
            .num{
              margin: 0 5px;
              font-weight: 600;
            }
            img{
              width: 20%;
              height:20%;
              border-radius: 50%;
            }
          }
        }
        &__tabs{
          text-align: center;
          font-weight: bold;
          .tab{
            width:50%;
            padding: 20px 0;
            float:left;
            background-color:white;
            border-top: 2px solid #ea352d;
          }
          .tab-li{
            width:50%;
            padding: 20px 0;
            float:left;
            background-color:#eee;
          }
        }

        .my-page-right-content__main{
          font-size: 14px;
          &__column{
            padding: 16px;
            border-bottom:.5px solid #eee;
            position: relative;
            z-index:0;
            img{
              width:50px;
              height:50px;
              display:inline-block;
              vertical-align: middle;
            }
            .message{
            display:inline-block;
            vertical-align: middle;
            margin-left:10px;
            }
            .message__text-time{
              display:inline-block;
              color: #888;
            }
            .fa.fa-clock{
              display:inline-block;
              margin-right:10px;
              color: #888;
            }
            .fa.fa-angle-right {
              position: absolute;
              top: 50%;
              right: 16px;
              color: black;
            }

          }
          &__button{
            padding:20px 15px;
            a{
              width:100%;
              display: block;
              text-decoration: none;
              background-color: #eee;
              color: black;
              padding:15px 0;
              text-align: center;
            }
          }
        }
      }

    .my-page-right-content__bottom{
      margin-top:50px;
      background-color: white;

      &__title{
        background-color: #f9f9f9;
        padding: 20px;
        font-weight: bold;
      }

      &__tabs{
        @extend .my-page-right-content__tabs;

        .tab{
          width:50%;
          padding: 20px 0;
          float:left;
          background-color: white;
          border-top: 2px solid #ea352d;
          }
          .tab-li{
            width:50%;
            padding: 20px 0;
            float:left;
            background-color:#eee;
          }
      }
        &__main{
          text-align: center;
          clear: both;
          padding: 160px 0 60px;
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
          background-image: url(https://www.mercari.com/jp/assets/img/common/common/logo-gray-icon.svg?61790013);
          img{
            width:100%;
            height:100px;
            padding: 35px 0;
          }


          p{
            color: #ccc;
            margin-top: 10px;
          }
        }
      }

