.item-box-container{
  background: #fff;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  width:600px;
  height:100%;
  .item-name{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  .item-main-content{
    margin: 16px 0 0;
    .item-photo {
      float: left;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #fafafa;
    }
    .photo-details{
      width: 300px;
      height: 200px;
      margin: auto;
    }
  }
  .item-detail-table {
    float: right;
    max-width: 300px;
    height: 420px;
    margin: 0 auto;
    th {
      text-align: left;
      font-weight: 400;
      background: #fafafa;
      padding: 8px;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
    }
    td {
      width: 61%;
      background: #fff;
      padding: 8px;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;    
      a {
        color: #0099e8;
        text-decoration: none;
        } 
      .item-user-ratings i {
        font-size: 16px;
        vertical-align: middle;
      
        .icon-good {
          color: #ef5185;
        }
        span {
          vertical-align: middle;
        }
      }
    }
  }
  .item-price-box {
    text-align: center;
    margin: auto;
    clear: both;
    .item-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    .item-tax {
      font-size: 10px;
    }
    .item-shipping-fee {
      display: inline-block;
      font-size: 16px;
    }
  }
  .item-description{
    padding: 32px 0 0;
    line-height: 1.5;
  }
  .item-button-container{
    margin: 16px 0 0;
    .item-button-left{
      float: left;
      .item-button{
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        transition: all ease-out .3s;
      }
      .item-button-like{
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }
      button{
        outline: 0;
        cursor: pointer;
      }
    }
    .item-button-report {
      margin: 0 0 0 16px;
      color: #333;
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      text-decoration: none;
      .item-button-report {
        color: #333;
        background: #f5f5f5;
      }
    }
    .item-button-right {
      margin: 8px 0 0;
      float: right;
      a{
        text-decoration: none;
      }
    }
    .item-button-right {
      margin: 8px 0 0;
      float: right;
    }
    a {
      color: #0099e8;
      text-decoration: none;
    }
  }
}