@mixin btn-default{
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
 }

@mixin btn-red{
  background-color: #ea352d;
  border: 1px solid #ea352d;
 }

@mixin btn-gray{
  background-color: #aaa;
  border: 1px solid #aaa;
 }


.item-box-container{
  background: #fff;
  margin: 40px auto 0;
  padding: 24px 40px 40px;
  box-sizing: inherit;
  font-size: inherit;
  line-height: inherit;
  width:700px;
  height:100%;
  .item-name{
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
  }
  .item-main-content{
    margin: 16px 0 0;
    .item-photo {
      float: left;
      width: 300px;
      height: 400px;
      margin: 0 auto;
      background: #fafafa;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .photo-details{
      width: 300px;
      height: 200px;
      margin: auto;
    }
  }
  .item-detail-table {
    float: right;
    max-width: 300px;
    height: 420px;
    margin: 0 auto;
    th {
      text-align: left;
      font-weight: 400;
      background: #fafafa;
      padding: 8px;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;
    }
    td {
      width: 61%;
      background: #fff;
      padding: 8px;
      border-collapse: collapse;
      border: 1px solid #f5f5f5;    
      a {
        color: #0099e8;
        text-decoration: none;
        } 
      .item-user-ratings {
        margin-top: 9px;
        i{
          color: #fba933;
          font-size: 16px;
          vertical-align: middle;
        }

        span {
          margin: 0 16px 0 4px;
          color: black;
          font-size: 14px;
          line-height: 1;
          vertical-align: middle;
        }
      }
    }
  }
  .item-price-box {
    text-align: center;
    padding-top: 24px ;
    clear: both;
    .item-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: 600;
    }
    .item-tax {
      font-size: 16px;
    }
    .item-shipping-fee {
      display: inline-block;
      font-size: 16px;
    }
    .buy-btn{
      @include btn-default;
      @include btn-red;
      font-size: 24px;
      font-weight: normal;
      margin-top: 20px;
      margin-bottom:20px;
      a {
        display: block;
      }
    }  
  }
  .item-description{
    padding: 32px 0 0;
    line-height: 1.5;
  }
  .item-button-container{
    margin: 16px 0 0;
    height: 33px;
    .item-button-left{
      float: left;
      .item-button{
        display: inline-block;
        padding: 8px 16px;
        border-radius: 40px;
        transition: all ease-out .3s;
      }
      .item-button-like{
        color: #333;
        border: 1px solid #f5f5f5;
        background: #f5f5f5;
      }
      button{
        outline: 0;
        cursor: pointer;
      }
    }
    .item-button-report {
      margin: 0 0 0 16px;
      color: #333;
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      text-decoration: none;
      .item-button-report {
        color: #333;
        background: #f5f5f5;
      }
    }
    .item-button-right {
      margin: 8px 0 0;
      float: right;
    }
    a {
      color: #0099e8;
      text-decoration: none;
    }
  }
}

.item-detail-for_seller{
  width: 700px;
  margin: 25px auto 25px;
  padding: 24px;
  background-color: white;
  .edit-btn{
    @include btn-default;
    @include btn-red;
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    a {
      display: block;
    }
  }
  p{
    margin-left: 320px;
  }

  .delete-btn{
    @include btn-default;
    @include btn-gray;
    font-size: 14px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
    a {
      display: block;
    }
  }
}

.item-detail-message{
  height: 280px;
  width:  700px;
  margin: 8px auto 80px;
  padding: 24px;
  background-color: white;
  p{
    padding: 8px;
    background-color: #fff6de;
    font-size: 14px;
  }
  textarea{
    height: 104px;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    background-color:#fff;
    border: 1px solid #ccc;
  }
  button{
    height: 50px;
    width: 100%;
    margin-top: 8px;
    background-color: #aaa;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
  }
}