<div class="single-container">
      <header class="single-header">
        <h1>
                      <a href="https://www.mercari.com/jp/">
              <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?615905397" alt="mercari">
            </a>
                  </h1>
              

        </header>

      <main class="single-main">
          <section class="l-single-container buy-item-container">
    <h2 class="l-single-head">購入内容の確認</h2>

    <section class="buy-content buy-item">
  <div class="buy-content-inner">
    <h3 class="buy-item-image">
      <img data-src="https://static.mercdn.net/thumb/photos/m99038444264_1.jpg?1563632197" class=" lazyloaded" alt="" src="https://static.mercdn.net/thumb/photos/m99038444264_1.jpg?1563632197">
    </h3>
    <p class="buy-item-name bold">ディズニーガイドツアーピンバッチ</p>

          <form action="https://www.mercari.com/jp/transaction/buy/done/m99038444264/" method="POST" class="buy-form" novalidate="novalidate">

                        <p class="buy-price-ja bold">
        ¥ 1,200
                  <span class="item-shipping-fee f14 bold">送料込み</span>
              </p>

                    <ul class="buy-accordion not-have">
          <li class="accordion-parent">
            <div class="accordion-toggle">
              ポイントはありません
            </div>
          </li>
        </ul>
      
            <ul class="buy-price-table">
        <li class="buy-price-row buy-you-pay bold">
          <div class="buy-price-cell">支払い金額</div>
          <div class="buy-price-cell">
            <span data-buy-pay="1200">¥ 1,200</span>
          </div>
        </li>
      </ul>

      
                        <input type="hidden" name="seller_id" value="917778061">
                                <input type="hidden" name="payment_fee" value="0">
                                <input type="hidden" name="payment_amount" value="1200">
                                <input type="hidden" name="price" value="1200">
                                                                                                <input type="hidden" name="category_id" value="745">
                                <input type="hidden" name="item_condition" value="1">
                                                                <input type="hidden" name="shipping_payer" value="2">
                                <input type="hidden" name="shipping_method" value="14">
                                <input type="hidden" name="shipping_duration" value="3">
                                <input type="hidden" name="shipping_class" value="0">
                                <input type="hidden" name="zip_code1" value="134">
                                <input type="hidden" name="zip_code2" value="0088">
                                <input type="hidden" name="paid_method" value="card">
                                <input type="hidden" name="checksum" value="d671c266fe0ae15caf9dd7583e11563f">
                                                                                                <input type="hidden" name="payment_card_sequence_no" value="agbcofiwfhYLXgpqNzFGExcc">
                                <input type="hidden" name="payment_use_last_card_base64" value="eWVz">
                                <input type="hidden" name="item_name_base64" value="44OH44Kj44K644OL44O844Ks44Kk44OJ44OE44Ki44O844OU44Oz44OQ44OD44OB">
                                <input type="hidden" name="description_base64" value="44OH44Kj44K644OL44O844Gu44OX44Os44Of44Ki44Og44Ks44Kk44OJ44OE44Ki44O844GrCuWPguWKoOOBl+OBn+OBqOOBjeOBq+OCguOCieOBiOOCi+ODlOODs+ODkOODg+ODgeOBp+OBmeOAggoK54++5Zyo44Gu44OX44Os44Of44Ki44Og44Ks44Kk44OJ44OE44Ki44O844Gv5YaF5a6544KCCuODl+ODrOOCvOODs+ODiOOCguWkieOCj+OBo+OBpuOBhOOBvuOBmeOBruOBp+OAgeODrOOCouOBqgrllYblk4HjgajjgarjgaPjgabjgYTjgb7jgZnjgIIKCuaWsOWTgeOAgeacquS9v+eUqOOBp+OBmeOAggroh6rlroXjgafkv53nrqHjgZfjgabjgYTjgb7jgZfjgZ/jgYzjgIHjg5Pjg4vjg7zjg6vjgavlpInoibLjgYzopovjgonjgozjgovjgoLjga7jgYzjgYLjgorjgb7jgZnjga7jgafjgIHnpZ7ntYzos6rjgarmlrnjga/jgZTjgoHjgpPjgarjgZXjgYTjgIIKCuODkOODqeWjsuOCiuOCgk9L44Gn44GZ44Gu44Gn44CB44GU5biM5pyb44Gu5pa544Gv44CBCuOCs+ODoeODs+ODiOOBj+OBoOOBleOBhOOAggoK4oC75pmu6YCa6YO15L6/44Gn44KI44GR44KM44Gw44CB44GK5YCk5LiL44GS44GE44Gf44GX44G+44GZ44Gu44Gn44CB44GU6YCj57Wh44GP44Gg44GV44GE44CCCgoj44OH44Kj44K644OL44O8CiPjgqzjgqTjg4njg4TjgqLjg7wKI+ODn+ODg+OCreODvOODnuOCpuOCuQoj44Of44OL44O844Oe44Km44K5">
                                                                <input type="hidden" name="shipping_from_area_base64" value="MTM=">
                                <input type="hidden" name="family_name_base64" value="6buS5rKz5YaF">
                                <input type="hidden" name="first_name_base64" value="6KOV6LK0">
                                <input type="hidden" name="family_name_kana_base64" value="44Kv44Ot44Kz44Km44OB">
                                <input type="hidden" name="first_name_kana_base64" value="44Om44Kt">
                                <input type="hidden" name="prefecture_base64" value="5p2x5Lqs6YO9">
                                <input type="hidden" name="city_base64" value="5rGf5oi45bed5Yy6">
                                <input type="hidden" name="address1_base64" value="6KW/6JGb6KW/Ny00LTItMjEz">
                                <input type="hidden" name="address2_base64" value="">
                                <input type="hidden" name="telephone_base64" value="MDgwNDQ0MTk2NTE=">
                                <input type="hidden" name="__csrf_value" value="5196f53bfbe7cb3e409847e58e879453c48856ee2c38486441538422dddab7962462465c8abd257d607c06c161796f318da43088ff2cbfb8763e6c6b5311ba24b">
                                            <button type="submit" class="btn-default btn-red bold">購入する</button>
              
      </form>
      </div>
</section>


<section class="buy-content buy-user-info">
  <div class="buy-content-inner">
    <h3>配送先 </h3>
    <address class="buy-user-info-text">
      〒134-0088
      <br>
      東京都 江戸川区
      西葛西7-4-2-213
      
      <br>
      黒河内 裕貴
    </address>
    <p class="buy-user-info-text">
       
    </p>
          <a href="https://www.mercari.com/jp/transaction/address/m99038444264/" class="buy-user-info-fix"><span>変更する</span><i class="icon-arrow-right"></i></a>
      </div>
</section>

  <section class="buy-content buy-user-info" data-buy="pay-method">
    <div class="buy-content-inner">
      <h3>支払い方法</h3>
      <p class="buy-user-info-text">
        ************1212
        <br>
        05 / 21
                </p><figure>
                    <img src="//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?615905397" width="26" height="20" alt="jcb">
        </figure>
      <p></p>
                        <a href="https://www.mercari.com/jp/transaction/select_card/m99038444264/" class="buy-user-info-fix">
            <span>変更する</span><i class="icon-arrow-right"></i>
          </a>
                  </div>
  </section>
  </section>
      </main>

              <footer class="single-footer">
          <nav>
            <ul class="clearfix">
              <li>
                <a href="https://www.mercari.com/jp/privacy/">プライバシーポリシー</a>
              </li>
              <li>
                <a href="https://www.mercari.com/jp/tos/">メルカリ利用規約</a>
              </li>
                              <li>
                  <a href="https://www.mercari.com/jp/tokutei/">特定商取引に関する表記</a>
                </li>
                          </ul>
          </nav>
          <a href="https://www.mercari.com/jp/" class="single-footer-logo">
            <img src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?615905397" alt="mercari" width="80" height="65">
          </a>
          <p>
            <small>© 2019 Mercari</small>
          </p>
        </footer>
          </div>